# Required — OpenAI API key (https://platform.openai.com)
GOOGLE_API_KEY=AQ.Ab8RN6JW1qR8wemVS_rzIjN7Mkrpq-o-yAI5kBKy4qGzxTvWEg

# Required — Tavily Search API key (https://tavily.com — free tier: 1000 req/month)
TAVILY_API_KEY=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
